html {
    font-family: var(--ff-primary);
    font-size: clamp(16px, 1vw, 24px);
    line-height: 1.5;
    color: var(--text-clr-primary);
    background-color: var(--layout-clr-primary);
    scrollbar-width: none;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    width: 100vw;
    height: var(--nav-height);
    z-index: 1;
    padding-left: var(--nav-padding);
    padding-right: var(--nav-padding);
    background-color: var(--layout-clr-primary);
}

.media {
    position: relative;
    height: var(--media-height);
    top: var(--nav-height);
}

.media > video,
.media > img,
.media > iframe {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container {
    position: relative;
    min-height: var(--container-min-height);
    top: var(--nav-height);
    width: var(--container-width);
    max-width: var(--container-max-width);
    padding-top: var(--container-padding-top);
    padding-bottom: var(--container-padding-bottom);
    margin-inline: auto;
    word-wrap: break-word;
}
