html {
    font-family: var(--ff-primary);
    font-size: clamp(16px, 1vw, 24px);
    line-height: 1.5;
    color: var(--text-clr-primary);
    background-color: var(--layout-clr-primary);
}

nav {
    position: fixed;
    height: var(--nav-height);
    width: 100dvw;
    z-index: 1;
    padding-left: var(--nav-padding);
    padding-right: var(--nav-padding);
    background-color: var(--layout-clr-primary);
}

main {
    height: 100lvh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

section {
    height: 100lvh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.media {
    position: relative;
    width: 100lvw;
    height: var(--media-height);
    top: var(--nav-height);
}

.media > video,
.media > img,
.media > iframe {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container {
    position: relative;
    top: var(--nav-height);
    width: var(--container-width);
    max-width: var(--container-max-width);
    height: var(--container-height);
    margin-inline: auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}