#home {
    display: grid;
    grid-template-areas: 
        "container";
    overflow: hidden;
}

#home > .container {
    grid-area: container;
    height: 100vh;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home > .media {
    grid-area: container;
    width: 100vw;
    height: 100vh;
    top: 0;
}

#home > .media::before {
    content: '';
    position: absolute;
    width: inherit;
    height: 20vh;
    top: 40vh;
    background-color: var(--layout-clr-primary);
    opacity: .85;
}

