#home {
    display: grid;
    grid-template-areas: 
        "content";
}

#home > .media {
    grid-area: content;
    width: 100vw;
    height: calc(100vh - var(--nav-height));
}

#home > .container {
    grid-area: content;
    width: 100vw;
    height: 20vh;
    top: 40vh;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home > .container::before {
    content: '';
    position: absolute;
    height: 20vh;
    width: inherit;
    background-color: var(--layout-clr-primary);
    opacity: 0.5;
}

#home > .container > h1 {
    font-family: var(--ff-secondary);
    z-index: 1;
}
