#home {
    display: grid;
    grid-template-areas: 
        "content";
    align-items: center;
    overflow-y: hidden;
}

#home > .media {
    grid-area: content;
    height: 100%;
}

#home > .container {
    grid-area: content;
    padding: 2rem;
    background-color: var(--layout-clr-primary);
    opacity: 0.8;
}
