:root {
  /* fonts */
  --ff-primary-400: "Roboto-Regular";
  --ff-primary-500: "Roboto-Medium";
  --ff-primary-italic-400: "Roboto-Italic";
  --ff-primary-italic-500: "Roboto-MediumItalic";
  --ff-secondary-700: "UnifrakturCook-Bold";

  /* colors */
  --clr-primary-100: #f8f9fa;
  --clr-primary-200: #e9ecef;
  --clr-primary-300: #dee2e6;
  --clr-primary-400: #ced4da;
  --clr-primary-500: #adb5bd;
  --clr-primary-600: #6c757d;
  --clr-primary-700: #495057;
  --clr-primary-800: #343a40;
  --clr-primary-900: #212529;

  /* layout */
  --ff-primary: var(--ff-primary-400);
  --ff-primary-accent: var(--ff-primary-500);
  --ff-secondary: var(--ff-secondary-700);
  --text-clr-primary: var(--clr-primary-900);
  --text-clr-secondary: var(--clr-primary-600);
  --layout-clr-primary: var(--clr-primary-100);
  --layout-clr-secondary: var(--clr-primary-400);
  --nav-height: max(8vh, 50px);
  --navbar-nav-height: calc(100vh - var(--nav-height));
  --container-height: calc(100vh - var(--nav-height));
  --container-width: 90%;
  --container-max-width: 1366px;
  --media-height: calc(50% - var(--nav-height));
}

/*
  resets
*/

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 
  fonts 
*/

@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Italic";
  font-weight: 400;
  src: url("../assets/fonts/Roboto-Italic.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  src: url("../assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-MediumItalic";
  font-weight: 500;
  src: url("../assets/fonts/Roboto-MediumItalic.ttf");
}

@font-face {
  font-family: "UnifrakturCook-Bold";
  font-weight: 700;
  src: url("../assets/fonts/UnifrakturCook-Bold.ttf");
}

/*
  layout
*/

body {
  height: 100vh;
  font-family: var(--ff-primary);
  font-size: clamp(16px, 1vw, 24px);
  line-height: 1.5;
  color: var(--text-clr-primary);
}

nav {
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  z-index: 1;
  padding-left: max(
    calc((100% - var(--container-width)) / 2),
    calc((100vw - var(--container-max-width)) / 2)
  );
  padding-right: max(
    calc((100% - var(--container-width)) / 2),
    calc((100vw - var(--container-max-width)) / 2)
  );
  background-color: var(--layout-clr-primary);
}

main {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  background-color: var(--layout-clr-primary);
}

section {
  height: 100%;
  scroll-snap-align: start;
  overflow-y: scroll;
  scrollbar-width: none;
}

.media {
  position: relative;
  height: var(--media-height);
  top: var(--nav-height);
}

.media > video,
.media > img,
.media > iframe {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container {
  position: relative;
  top: var(--nav-height);
  width: var(--container-width);
  max-width: var(--container-max-width);
  margin-inline: auto;
  margin-top: 1rem;
}

/*
  navbar
*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: var(--layout-clr-primary); */
  border-bottom: 1px solid var(--layout-clr-secondary);
}

.navbar > .navbar-brand {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* .navbar > .navbar-brand > img {
  height: 80%;
  width: auto;
} */

.navbar > .navbar-brand > span {
  font-family: var(--ff-secondary);
  font-size: 1.2rem;
  color: var(--text-clr-primary);
}

.navbar > .navbar-nav {
  position: absolute;
  height: var(--navbar-nav-height);
  inset: var(--nav-height) 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--layout-clr-primary);
  border-left: 1px solid var(--layout-clr-secondary);
  transform: translateX(100%);
  transition: ease-in-out 500ms;
}

.navbar > .navbar-nav[aria-expanded="true"] {
  transform: translateX(0%);
}

.navbar > .navbar-nav > li {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  text-align: center;
}

.navbar > .navbar-nav > li:first-child {
  margin-top: 1rem;
}

.navbar > .navbar-nav > li > a {
  width: 100%;
  color: var(--text-clr-secondary);
}

.navbar > .navbar-nav > li[aria-selected="true"] > a {
  font-family: var(--ff-primary-accent);
  color: var(--text-clr-primary);
}

.navbar > .navbar-toggler {
  display: block;
  background: transparent;
  border: none;
}

.navbar > .navbar-toggler:hover {
  cursor: pointer;
}

.navbar > .navbar-toggler[aria-selected="false"] > .menu-icon {
  display: block;
}

.navbar > .navbar-toggler[aria-selected="false"] > .close-icon {
  display: none;
}

.navbar > .navbar-toggler[aria-selected="true"] > .menu-icon {
  display: none;
}

.navbar > .navbar-toggler[aria-selected="true"] > .close-icon {
  display: block;
}

@media (min-width: 992px) {
  .navbar > .navbar-nav {
    position: relative;
    height: calc(var(--nav-height) - 1px);
    inset: 0 0 0 0;
    flex-direction: row;
    gap: 2rem;
    border-left: none;
    transform: none;
  }

  .navbar > .navbar-nav > li:first-child {
    margin-top: 0;
  }

  .navbar > .navbar-nav > li {
    height: auto;
    width: auto;
  }

  .navbar > .navbar-toggler {
    display: none;
  }
}
